body {
  font-size: 15px;
  font-family: "Montserrat", sans-serif;
}
.fixed-container {
  width: 960px;
  margin-left: auto;
  margin-right: auto;
}
.ownership h2 {
  text-align: left;
}
.ownership {
  text-align: left;
}
.termsofuse {
  text-align: center;
}
.ownership a {
  text-decoration: none;
  color: #1472d0;
}
.links ul li a {
  color: #1472d0;
}
.content{
  text-align: left;
}
/* .fixed-container {
  text-align: center;
} */
/* .fixed-container{
  text-align: center;
} */
